<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Fettle Pool</title>
    <link rel="icon" href="../images/fettlepool/signup.png" type="image/x-icon">
</head>

<body>
    <div class="jumbotron text-center">
        <div><img src="../images/fettlepool/signup.png" /></div>
        <h1 class="display-3">Fettle Pool Api Service</h1>
        <p class="lead"><strong>You have reached to <a href="https://fettlepool.in">Fettle Pool </a> Api Service which is a Private Api Service. Any Illegal use of these services will be acted according to our <a href="https://fettlepool.in/privacypolicy.html">Privacy Policy</a> .</p>
        <hr>
        <p>
            Having trouble? Contact us
        </p>
        <p>
            <i class="fas fa-globe"></i>&nbsp;<a href="https://fettlepool.in" target="_top">fettlepool.in</a>
        </p>
        <p>
            <i class="fas fa-mobile-alt"></i>&nbsp;<a href="tel:+916363054311" target="_top">6363054311</a>
        </p>
        <p>
            <i class="fas fa-envelope"></i>&nbsp;<a href="mailto:contact@fettlepool.in"
                target="_top">contact@fettlepool.in</a>
        </p>

    </div>
</body>

</html>